body {
    font-family: Arial;
    background: #f2f2f2;
}

.login {
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    background: white;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
}

#message {
    text-align: center;
}