MONGO_URI=mongodb://mongod:passwordhere@ac-sx4tsmi-shard-00-00.2omhsyl.mongodb.net:27017,ac-sx4tsmi-shard-00-01.2omhsyl.mongodb.net:27017,ac-sx4tsmi-shard-00-02.2omhsyl.mongodb.net:27017/EXP8?ssl=true&replicaSet=atlas-dpj3h8-shard-0&authSource=admin&appName=Cluster0

PORT=5000